<div class="container">
  <h1>View Item</h1>

  <a href="#" routerLink="/items/index" class="btn btn-primary">Back</a>

  <div>
      <strong>Customer ID:</strong>
      <p>{{ item.itemId }}</p>
  </div>

  <div>
      <strong>Customer Address:</strong>
      <p>{{ item.isAvailable }}</p>
  </div>

  <div>
      <strong>Customer Code:</strong>
      <p>{{ item.itemCode }}</p>
  </div>

  <div>
      <strong>Customer Name:</strong>
      <p>{{ item.itemName }}</p>
  </div>

  <div>
      <strong>Customer Phone:</strong>
      <p>{{ item.lastReStock }}</p>
  </div>

  <div>
      <strong>Status:</strong>
      <p>{{ item.price }}</p>
  </div>

  <div>
      <strong>PIC:</strong>
      <p>{{ item.stock }}</p>
  </div>

</div>
